.error-message {
  background-color: red;

  p {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 0;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}
