* {
  margin: 0;
  padding: 0;
}

.App {
  width: 1024px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.Header {
  display: flex;
}

.StockDataList {
  display: flex;
  list-style: none;
  margin-top: 20px;
  font-size: 16px;

  li {
    margin-right: 20px;
    font-size: 18px;
  }
}

.StockSearch {
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  margin: 0 0 20px auto;
  overflow: hidden;
  border: 2px solid #2589d0;
  border-radius: 3px;
}

.StockSearch input {
  width: 230px;
  height: 35px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.StockSearch input::placeholder{
  color: #777777;
}

.StockSearch button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border: none;
  background-color: #2589d0;
  cursor: pointer;
}

.StockSearch button::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}

.StockChartPeriod {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.StockChartPeriod > label {
  flex: 1 1;
  order: -1;
  min-width: 70px;
  padding: .7em 1em .5em;
  background-color: #f2f2f2;
  color: #999;
  font-weight: 600;
  font-size: .9em;
  text-align: center;
  cursor: pointer;
}

.StockChartPeriod > label:hover {
  opacity: .8;
}

.StockChartPeriod input {
  display: none;
}

.StockChartPeriod > div {
  display: none;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #fff;
}

.StockChartPeriod label:has(:checked) {
  border-bottom: 4px solid #2589d0;
  color: #2589d0;
}

.StockChartPeriod label:has(:checked) + div {
  display: block;
}

.Chart {
  width: 100%;
  height: 512px;
  background-color: #191919;
}
